In [42]:
emp = {"name" : "vishvambar" , "class" : "SY-22" , "Enrollment no" : "ADT25SOCBD089"}
print(type(emp))

<class 'dict'>

In [43]:
emp['name']

'vishvambar'

In [44]:
emp['class']

'SY-22'

In [45]:
emp['Enrollment no']

'ADT25SOCBD089'

In [46]:
person= {'firstname ' : 'vishvambar' ,'middlename' : 'Ramesh' , 'lastname' : 'Udavant' , 'age' : 20}

In [47]:
print(person['firstname '])

vishvambar

In [48]:
person={'firstname': ['Namrata' , 'vishvambar' ,'sakshi'] , 'college' : 'GPJ', 'salary': [100000, 200000, 300000]}

In [49]:
person

{'firstname': ['Namrata', 'vishvambar', 'sakshi'],
 'college': 'GPJ',
 'salary': [100000, 200000, 300000]}

In [50]:
person['firstname']

['Namrata', 'vishvambar', 'sakshi']

In [51]:
person['college']

'GPJ'

In [52]:
person['salary']

[100000, 200000, 300000]

In [53]:
person['firstname'][1]

'vishvambar'

In [54]:

person['salary'][2]

300000

In [55]:
person['firstname'][1]= 'Namrata Udavant'

In [56]:
person

{'firstname': ['Namrata', 'Namrata Udavant', 'sakshi'],
 'college': 'GPJ',
 'salary': [100000, 200000, 300000]}

In [57]:
person['firstname'].append('John')

In [58]:
person

{'firstname': ['Namrata', 'Namrata Udavant', 'sakshi', 'John'],
 'college': 'GPJ',
 'salary': [100000, 200000, 300000]}

In [59]:
del(person['firstname'][2])

In [60]:
person

{'firstname': ['Namrata', 'Namrata Udavant', 'John'],
 'college': 'GPJ',
 'salary': [100000, 200000, 300000]}

In [61]:
person.keys()

dict_keys(['firstname', 'college', 'salary'])

In [62]:
person.values()

dict_values([['Namrata', 'Namrata Udavant', 'John'], 'GPJ', [100000, 200000, 300000]])