In [2]:
emp = {"name" : "vishvambar" , "class" : "SY-22" , "Enrollment no" : "ADT25SOCBD089"}
print(type(emp))

<class 'dict'>

In [3]:
emp['name']

'vishvambar'

In [4]:
emp['class']

'SY-22'

In [5]:
emp['Enrollment no']

'ADT25SOCBD089'

In [6]:
person= {'firstname ' : 'vishvambar' ,'middlename' : 'Ramesh' , 'lastname' : 'Udavant' , 'age' : 20}

In [7]:
print(person['firstname '])

vishvambar

In [8]:
person={'firstname': ['Namrata' , 'vishvambar' ,'sakshi'] , 'college' : 'GPJ', 'salary': [100000, 200000, 300000]}

In [9]:
person

{'firstname': ['Namrata', 'vishvambar', 'sakshi'],
 'college': 'GPJ',
 'salary': [100000, 200000, 300000]}

In [10]:
person['firstname']

['Namrata', 'vishvambar', 'sakshi']

In [11]:
person['college']

'GPJ'

In [12]:
person['salary']

[100000, 200000, 300000]

In [13]:
person['firstname'][1]

'vishvambar'

In [14]:

person['salary'][2]

300000

In [15]:
person['firstname'][1]= 'Namrata Udavant'

In [16]:
person

{'firstname': ['Namrata', 'Namrata Udavant', 'sakshi'],
 'college': 'GPJ',
 'salary': [100000, 200000, 300000]}

In [17]:
person['firstname'].append('John')

In [18]:
person

{'firstname': ['Namrata', 'Namrata Udavant', 'sakshi', 'John'],
 'college': 'GPJ',
 'salary': [100000, 200000, 300000]}

In [19]:
del person