In [1]:
emp = {"name" : "vishvambar" , "class" : "SY-22" , "Enrollment no" : "ADT25SOCBD089"}
print(type(emp))

<class 'dict'>

In [2]:
emp['name']

'vishvambar'

In [3]:
emp['class']

'SY-22'

In [4]:
emp['Enrollment no']

'ADT25SOCBD089'

In [5]:
person= {'firstname ' : 'vishvambar' ,'middlename' : 'Ramesh' , 'lastname' : 'Udavant' , 'age' : 20}

In [6]:
print(person['firstname '])

vishvambar

In [7]:
person={'firstname': ['Namrata' , 'vishvambar' ,'sakshi'] , 'college' : 'GPJ', 'salary': [100000, 200000, 300000]}

In [8]:
person

{'firstname': ['Namrata', 'vishvambar', 'sakshi'],
 'college': 'GPJ',
 'salary': [100000, 200000, 300000]}

In [9]:
person['firstname']

['Namrata', 'vishvambar', 'sakshi']

In [11]:
person['college']

'GPJ'

In [12]:
person['salary']

[100000, 200000, 300000]