In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.DataFrame({
    "Name": ["Alice", "Bob", "Charlie", "David"],
    "Age": [25, 30, 35, 40],
    "Condition": ["Flu", "Healthy", "Covid", "Flu"]
}, index=["PT_101", "PT_102", "PT_103", "PT_104"])

In [3]:
df

           Name  Age Condition
PT_101    Alice   25       Flu
PT_102      Bob   30   Healthy
PT_103  Charlie   35     Covid
PT_104    David   40       Flu

In [6]:
df.iloc[0]

Name         Alice
Age             25
Condition      Flu
Name: PT_101, dtype: object

In [7]:
print(df.loc["PT_102", "Condition"])

Healthy