In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame({
    "Sensor_ID": [1, 2, 3, 4, 5],
    "Reading": [98.6, np.nan, 99.1, np.nan, 98.0]
})

In [4]:
df

   Sensor_ID  Reading
0          1     98.6
1          2      NaN
2          3     99.1
3          4      NaN
4          5     98.0

In [8]:
print(df["Reading"].mean())

98.56666666666666

In [9]:
df["Reading"] = df["Reading"].fillna(df['Reading'].mean())

In [11]:
df

   Sensor_ID    Reading
0          1  98.600000
1          2  98.566667
2          3  99.100000
3          4  98.566667
4          5  98.000000