In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.DataFrame({
    "Category": ["Electronics", "Clothing", "Electronics", "Clothing", "Home"],
    "Revenue": [500, 50, 200, 30, 100]
})

In [3]:
df

      Category  Revenue
0  Electronics      500
1     Clothing       50
2  Electronics      200
3     Clothing       30
4         Home      100

In [13]:
grouped_data = df.groupby("Category").sum()

In [14]:
print("Result : \n" , grouped_data)

Result :
              Revenue
Category
Clothing          80
Electronics      700
Home             100