In [15]:
import pandas as pd
import numpy as np

data = {
    "Temperature": [98.6, np.nan, np.nan, 99.1, np.nan]
}

df = pd.DataFrame(data)
print(df)

   Temperature
0         98.6
1          NaN
2          NaN
3         99.1
4          NaN

In [16]:
df = df.ffill()

In [17]:
df

   Temperature
0         98.6
1         98.6
2         98.6
3         99.1
4         99.1

In [18]:
df = pd.DataFrame({
    "Time": pd.date_range("2025-01-01 10:00", periods=5, freq="T"),
    "Heart_Rate": [72, np.nan, 75, np.nan, np.nan]
})

df.set_index("Time", inplace=True)
print(df)

                     Heart_Rate
Time
2025-01-01 10:00:00        72.0
2025-01-01 10:01:00         NaN
2025-01-01 10:02:00        75.0
2025-01-01 10:03:00         NaN
2025-01-01 10:04:00         NaN

C:\Users\Admin\AppData\Local\Temp\ipykernel_13956\3245747560.py:2: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  "Time": pd.date_range("2025-01-01 10:00", periods=5, freq="T"),

In [19]:
df.ffill(inplace=True)
print(df)

                     Heart_Rate
Time
2025-01-01 10:00:00        72.0
2025-01-01 10:01:00        72.0
2025-01-01 10:02:00        75.0
2025-01-01 10:03:00        75.0
2025-01-01 10:04:00        75.0

In [21]:
df = pd.DataFrame({
    "PriceB_Close": [100.5, np.nan, np.nan, 101.2, np.nan]
})
df

   PriceB_Close
0         100.5
1           NaN
2           NaN
3         101.2
4           NaN

In [22]:
df['PriceB_Close']= df["PriceB_Close"].ffill()

In [23]:
df

   PriceB_Close
0         100.5
1         100.5
2         100.5
3         101.2
4         101.2