In [2]:
import numpy as np 
import pandas as pd

In [3]:
data = np.random.randint(60,120 , (5,3))

In [4]:
df = pd.DataFrame(data , 
                  columns = ["BP", "HR", "Temp"],
                  index = ["A1", "A2", "A3", "B1", "B2"])

In [5]:
df

    BP   HR  Temp
A1  74   60    92
A2  95  103    69
A3  90   64   114
B1  87   75    73
B2  66   84   103

In [6]:
# HR of B1 
print(df.loc["B1", "HR"])

75

In [7]:
print (df.iloc[-1])

BP       66
HR       84
Temp    103
Name: B2, dtype: int32

In [10]:
warda_index = df.index.str.startswith("A")

In [12]:
warda = df[warda_index]
warda

    BP   HR  Temp
A1  74   60    92
A2  95  103    69
A3  90   64   114

In [20]:
critical = warda[warda["HR"]>100]

In [22]:
critical["BP"]

A2    95
Name: BP, dtype: int32