In [1]:
import pandas as pd
import numpy as np

In [10]:
df = pd.DataFrame({
    "Name ": ["John", "Alice", "Bob", "Charlie", "Eve"],
    "Age": [45, 30, np.nan, 50 , np.nan],
    "Sugar_Level": [120, np.nan, 90, 110, np.nan]
})
df

     Name    Age  Sugar_Level
0     John  45.0        120.0
1    Alice  30.0          NaN
2      Bob   NaN         90.0
3  Charlie  50.0        110.0
4      Eve   NaN          NaN

In [16]:
df  = df.dropna(subset=['Age'])
df

     Name    Age  Sugar_Level
0     John  45.0        120.0
1    Alice  30.0        115.0
3  Charlie  50.0        110.0

In [14]:
mean_sugar = df["Sugar_Level"].mean()
df["Sugar_Level"] = df["Sugar_Level"].fillna(mean_sugar)

# Final Output
print("Cleaned Data:\n", df)

Cleaned Data:
      Name    Age  Sugar_Level
0     John  45.0        120.0
1    Alice  30.0        115.0
3  Charlie  50.0        110.0

C:\Users\Admin\AppData\Local\Temp\ipykernel_10888\1586023889.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Sugar_Level"] = df["Sugar_Level"].fillna(mean_sugar)