In [1]:
import pandas as pd

In [4]:

# 1. Raw Data (Strings)
data = {
    "Time": ["2025-01-01 08:00", "2025-01-01 08:15", "2025-01-01 08:30", "2025-01-01 08:45",  "2025-01-01 09:00"],
    "HR": [70, 72, 75,80, 110] # Spiking at 9 AM
}
df = pd.DataFrame(data)
df

               Time   HR
0  2025-01-01 08:00   70
1  2025-01-01 08:15   72
2  2025-01-01 08:30   75
3  2025-01-01 08:45   80
4  2025-01-01 09:00  110

In [ ]:
# 2. The Conversion (String -> DateTime)
df["Time"] = pd.to_datetime(df["Time"])
df

In [6]:
df

                 Time   HR
0 2025-01-01 08:00:00   70
1 2025-01-01 08:15:00   72
2 2025-01-01 08:30:00   75
3 2025-01-01 08:45:00   80
4 2025-01-01 09:00:00  110

In [7]:

# 3. The Indexing (Time MUST be the index for resampling)
df = df.set_index("Time")
df

                      HR
Time
2025-01-01 08:00:00   70
2025-01-01 08:15:00   72
2025-01-01 08:30:00   75
2025-01-01 08:45:00   80
2025-01-01 09:00:00  110

In [8]:

# 4. The Magic: Resample to 'H' (Hourly) and take the Mean
hourly_data = df.resample('H').mean()

print(hourly_data)

                         HR
Time
2025-01-01 08:00:00   74.25
2025-01-01 09:00:00  110.00

C:\Users\Admin\AppData\Local\Temp\ipykernel_15604\1651100803.py:2: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  hourly_data = df.resample('H').mean()

In [9]:
new_data = {
    "dates": ["2025-01-01", "2025-01-02", "2025-01-03", "2025-01-08", "2025-01-09"],
    "prices": [1000, 1000, 950, 900, 850]
}
new_data

{'dates': ['2025-01-01',
  '2025-01-02',
  '2025-01-03',
  '2025-01-08',
  '2025-01-09'],
 'prices': [1000, 1000, 950, 900, 850]}

In [11]:
df2 = pd.DataFrame(new_data)

In [12]:
df2

        dates  prices
0  2025-01-01    1000
1  2025-01-02    1000
2  2025-01-03     950
3  2025-01-08     900
4  2025-01-09     850

In [15]:
df2["dates"] = pd.to_datetime(df2["dates"])
df2

       dates  prices
0 2025-01-01    1000
1 2025-01-02    1000
2 2025-01-03     950
3 2025-01-08     900
4 2025-01-09     850

In [16]:
df2 = df2.set_index("dates")

In [17]:
df2

            prices
dates
2025-01-01    1000
2025-01-02    1000
2025-01-03     950
2025-01-08     900
2025-01-09     850

In [19]:
df2.resample('W').mean()

                prices
dates
2025-01-05  983.333333
2025-01-12  875.000000