In [2]:
import numpy as numpy
import pandas as pd

In [3]:
Products  = pd.DataFrame({
    "ID" : [1, 2, 3, 4],
    "Name": ["Mouse", "Keyboard", "Laptop", "Monitor"]

})

Discounts = pd.DataFrame({
    "ID": [2,3,5],
    "Discount": [0.10,0.20,0.50]
})

In [4]:
Products

   ID      Name
0   1     Mouse
1   2  Keyboard
2   3    Laptop
3   4   Monitor

In [5]:
Discounts

   ID  Discount
0   2       0.1
1   3       0.2
2   5       0.5

In [7]:
# Link them on the common column "Patient_ID"
joined_data = pd.merge(Products, Discounts, on="ID", how="left")
print(joined_data)

   ID      Name  Discount
0   1     Mouse       NaN
1   2  Keyboard       0.1
2   3    Laptop       0.2
3   4   Monitor       NaN

In [11]:
cleaned_data = joined_data.fillna(0)

In [12]:
cleaned_data

   ID      Name  Discount
0   1     Mouse       0.0
1   2  Keyboard       0.1
2   3    Laptop       0.2
3   4   Monitor       0.0